* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.header .navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.header .navbar button {
    padding: 10px 0px;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: 700px;
    border: 2px solid rgb(151, 26, 151);
    background: transparent;
}

.header .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .5s;
}

.header .navbar a:hover::before {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* homepage */

#home .container {
    position: relative;
    min-height: 100vh;
}

#home .container .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#home .container .bg Video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#home .container .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#home .container .content h2 {
    font-size: 45px;
    color: #fff;
}

#home .container .content h3 {
    font-size: 35px;
    color: #fff;
    padding: 8px;
}

#home .container .content p {
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

#home .container .content button {
    padding: 18px 10px;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-weight: 700px;
    border: 2px solid rgb(2, 167, 2);
    background: transparent;
}

#home .container .content button:hover {
    background: rgb(53, 216, 132);
    box-shadow: 0 14px 18px 0 rgba(51, 206, 170, 0.2), 0 16px 20px 0 rgba(44, 208, 148, 0.19);
}

/* gallery */

#gallery {
    position: relative;
    min-height: 60vh;
    padding: 80px 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#gallery .imgBx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#gallery .imgBx img {
    width: 60vh;
    height: 60vh;
    border-radius: 20%;
}

/* gallery2 */

#galleryy {
    position: relative;
    min-height: 100vh;
    padding: 80px 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#galleryy .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#galleryy .content h2 {
    font-size: 43px;
    color: #fff;
}

#galleryy .content p {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
}

#galleryy .allimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#galleryy .allimg .imgbx {
    width: 28%;
    height: 60vh;
    background: #fff;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

#galleryy .allimg .imgbx .imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#galleryy .allimg .imgbx .imgs img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

#galleryy .allimg .contentbx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#galleryy .allimg .contentbx h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#galleryy .allimg .contentbx button {
    padding: 12px 10px;
    font-size: 16px;
    color: #fff;
    background: black;
    border-radius: 8px;
}

/* destination */

#destination {
    position: relative;
    min-height: 70vh;
    padding: 80px 100px;
    background-image: url('https://i.pinimg.com/564x/9e/14/62/9e1462e1b3b30d0b047c5ebb68fd7b37.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
}


/* destinationss */


#destinationn {
    position: relative;
    min-height: 100vh;
    padding: 80px 160px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#destinationn .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#destinationn .head h2 {
    color: #fff;
    font-size: 38px;
}

#destinationn .head p {
    color: #c6c3c3;
    font-size: 19px;
    padding-top: 30px;
}

#destinationn .places {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-top: 40px;
}

#destinationn .places .placeimg {
    display: flex;
    padding: 20px;
    width: 50vw;
}

#destinationn .places .placeimg img {
    width: 100%;
}

#destinationn .places .placecontent {
    width: 50vw;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#destinationn .places .placecontent h2 {
    font-size: 30px;
    color: #fff;
    padding: 15px;
}

#destinationn .places .placecontent p {
    font-size: 17px;
    color: #b3b0b0;
    letter-spacing: .6px;
    line-height: 22px;
}

/* forum */

/* #forum{
    position: relative;
    min-height: 100vh;
    padding: 80px 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#forum .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#forum .head h2{
    color: #fff;
} */