

/* homepage */

#home .container {
    position: relative;
    min-height: 100vh;
}

#home .container .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#home .container .bg Video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#home .container .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#home .container .content h2 {
    font-size: 45px;
    color: #fff;
}

#home .container .content h3 {
    font-size: 35px;
    color: #fff;
    padding: 8px;
}

#home .container .content p {
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

#home .container .content button {
    padding: 18px 10px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    font-weight: 700px;
    border: 2px solid rgb(2, 167, 2);
    background: transparent;
}

#home .container .content button:hover {
    background: rgb(91, 217, 108);
    background: linear-gradient(90deg, rgba(91, 217, 108, 1) 32%, rgba(115, 207, 226, 1) 100%);
    box-shadow: 0 2px 24px 0 rgb(203, 75, 207), 0 6px 16px 0 rgb(213, 75, 223);
}

/* signup */
#signup{
    position: relative;
    min-height: 60vh;
    padding: 80px 100px;
}

#signup .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup .container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* gallery */

#gallery {
    position: relative;
    min-height: 60vh;
    padding: 80px 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#gallery .imgBx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#gallery .imgBx img {
    width: 60vh;
    height: 60vh;
    border-radius: 20%;
}

#gallery .imgBx img:hover{
    box-shadow: 0 2px 24px 0 rgba(203, 75, 207, 0.229), 0 6px 16px 0 rgba(213, 75, 223, 0.234);
}

/* gallery2 */

#galleryy {
    position: relative;
    min-height: 100vh;
    padding: 80px 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#galleryy .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#galleryy .content h2 {
    font-size: 43px;
    color: #fff;
}

#galleryy .content p {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
}

#galleryy .allimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#galleryy .allimg .imgbx {
    width: 28%;
    height: 60vh;
    background: #fff;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

#galleryy .allimg .imgbx .imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#galleryy .allimg .imgbx .imgs img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

#galleryy .allimg .contentbx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#galleryy .allimg .contentbx h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#galleryy .allimg .contentbx button {
    padding: 16px 10px;
    width: 150px;
    font-size: 15px;
    color: #fff;
    background: black;
    border-radius: 8px;
}

#galleryy .allimg .contentbx button:hover {
    color: black;
    font-weight: 600;
    font-size: 16px;
    background: rgb(91, 217, 108);
    background: linear-gradient(90deg, rgba(91, 217, 108, 1) 32%, rgba(115, 207, 226, 1) 100%);
    box-shadow: 0 2px 24px 0 rgb(203, 75, 207), 0 6px 16px 0 rgb(213, 75, 223);
}

/* destination */

#destination {
    position: relative;
    min-height: 70vh;
    padding: 80px 100px;
    background-image: url('https://i.pinimg.com/564x/9e/14/62/9e1462e1b3b30d0b047c5ebb68fd7b37.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
}


/* destinationss */


#destinationn {
    position: relative;
    min-height: 100vh;
    padding: 80px 160px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');
}

#destinationn .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#destinationn .head h2 {
    color: #fff;
    font-size: 38px;
}

#destinationn .head p {
    color: #c6c3c3;
    font-size: 19px;
    padding-top: 30px;
}

#destinationn .places {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-top: 40px;
}

#destinationn .places .placeimg {
    display: flex;
    padding: 20px;
    width: 50vw;
}

#destinationn .places .placeimg img {
    width: 100%;
}

#destinationn .places .placecontent {
    width: 50vw;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#destinationn .places .placecontent h2 {
    font-size: 30px;
    color: #fff;
    padding: 15px;
}

#destinationn .places .placecontent p {
    font-size: 17px;
    color: #b3b0b0;
    letter-spacing: .6px;
    line-height: 22px;
}

/* Blog*/

 
#Blog{
    position: relative;
    min-height: 60vh;
    padding: 100px 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU');  
}

#Blog .newimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#Blog .newimg .imgs{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   aspect-ratio: 1/1;
}

#Blog .newimg .imgs a{
    z-index: 2;
}

#Blog .newimg .imgs button {
    padding: 16px 10px;
    width: 150px;
    font-size: 15px;
    color: #fff;
    background: black;
    border-radius: 8px;
    margin-top: 20px;
}

#Blog .newimg .imgs button:hover {
    color: black;
    font-weight: 600;
    font-size: 16px;
    background: rgb(91, 217, 108);
    background: linear-gradient(90deg, rgba(91, 217, 108, 1) 32%, rgba(115, 207, 226, 1) 100%);
    box-shadow: 0 2px 24px 0 rgb(203, 75, 207), 0 6px 16px 0 rgb(213, 75, 223);
}

#Blog .newimg .imgs img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    opacity: 75%;
}

#Blog .newimg .imgs img:hover{
    box-shadow: 0 2px 24px 0 rgba(203, 75, 207, 0.229), 0 6px 16px 0 rgba(213, 75, 223, 0.234);
} 

/* footer */

footer{
    position: relative;
    min-height: 40vh;
    padding: 60px 180px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-2JZ3DIUsOsrvQeaCsqGlDfc5BOa3HpWXw&usqp=CAU'); 
    font-size: 20px;
    color: #fff;
}

footer span{
   text-decoration: underline;
}

footer .mainall{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;
}

footer .mainall .things{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: rgb(192, 189, 189)
}

footer .mainall .things h4{
    padding: 10px;
}

footer .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer .main p{
    padding: 15px;
}

footer .main h3{
    color: rgb(78, 233, 78);
}
